@charset "utf-8";

/* webfont - Noto Sans KR */
/* lighter */
@font-face{
	font-family:"Noto Sans KR";
	font-style:normal;
	font-weight:300;
	src:local("./font/NotoSansKR-Light");
	src:url(./font/NotoSansKR-Light.eot);
	src:url(./font/NotoSansKR-Light.eot?#iefix) format("embedded-opentype"),
	url(./font/NotoSansKR-Light.woff2) format("woff2"),
	url(./font/NotoSansKR-Light.woff) format("woff"),
	url(./font/NotoSansKR-Light.otf) format("truetype");
}
/* regular */
@font-face{
	font-family:"Noto Sans KR";
	font-style:normal;
	font-weight:400;
	src:local("./font/NotoSansKR-Regular");
	src:url(./font/NotoSansKR-Regular.eot);
	src:url(./font/NotoSansKR-Regular.eot?#iefix) format("embedded-opentype"),
	url(./font/NotoSansKR-Regular.woff2) format("woff2"),
	url(./font/NotoSansKR-Regular.woff) format("woff"),
	url(./font/NotoSansKR-Regular.otf) format("truetype");
}
/* medium */
@font-face{
	font-family:"Noto Sans KR";
	font-style:normal;
	font-weight:500;
	src:local("./font/NotoSansKR-Medium");
	src:url(./font/NotoSansKR-Medium.eot);
	src:url(./font/NotoSansKR-Medium.eot?#iefix) format("embedded-opentype"),
	url(./font/NotoSansKR-Medium.woff2) format("woff2"),
	url(./font/NotoSansKR-Medium.woff) format("woff"),
	url(./font/NotoSansKR-Medium.otf) format("truetype");
}
/* bold */
@font-face{
	font-family:"Noto Sans KR";
	font-style:normal;
	font-weight:700;
	src:local("./font/NotoSansKR-Bold");
	src:url(./font/NotoSansKR-Bold.eot);
	src:url(./font/NotoSansKR-Bold.eot?#iefix) format("embedded-opentype"),
	url(./font/NotoSansKR-Bold.woff2) format("woff2"),
	url(./font/NotoSansKR-Bold.woff) format("woff"),
	url(./font/NotoSansKR-Bold.otf) format("truetype");
}

/* webfont - Lato */
/* regular */
@font-face{
	font-family:"Lato";
	font-style:normal;
	font-weight:400;
	src:url(./font/Lato-Regular.eot);
	src:url(./font/Lato-Regular.eot?#iefix) format("embedded-opentype"),
	url(./font/Lato-Regular.woff2) format("woff2"),
	url(./font/Lato-Regular.woff) format("woff"),
	url(./font/Lato-Regular.otf) format("truetype");
	unicode-range:U+0030-0039;
}
/* bold */
@font-face{
	font-family:"Lato";
	font-style:normal;
	font-weight:700;
	src:url(./font/Lato-Bold.eot);
	src:url(./font/Lato-Bold.eot?#iefix) format("embedded-opentype"),
	url(./font/Lato-Bold.woff2) format("woff2"),
	url(./font/Lato-Bold.woff) format("woff"),
	url(./font/Lato-Bold.otf) format("truetype");
	unicode-range:U+0030-0039;
}
